.card_content{
    padding: 10px 10px;
    display: inline-block;
    border: 3px solid #ffd717;
    border-radius: 40px;
    background-color: #0d63a5;
    width: 700px;
    text-align: center;
    margin-bottom: 10px;
}

.card_content:hover{
    cursor:pointer;
    filter: drop-shadow(5px 5px 5px #083358);
}

.card_content span{
    text-transform: uppercase;
    font-weight: bold;
    padding: 8px 0px;
    display: block; 
    font-family: Comic Sans MS; 
    font-weight:bold; 
    font-size: 30px; 
    color: #EBD758; 
    text-shadow: -1px 0 #414D68, 0 1px #414D68, 1px 0 #414D68, 0 -1px #414D68, -2px 2px 0 #414D68, 2px 2px 0 #414D68, 1px 1px #414D68, 2px 2px #414D68, 3px 3px #414D68, 4px 4px #414D68, 5px 5px #414D68;
}

.card_content img{
    display: flex;
    margin-left: 15px;
    width: 50px;
    height: 50px;
}