.card_content {
    padding: 10px 10px;
    display: block;
    border: 2px solid #083358;
    background-color: white;
    width: 700px;
    text-align: center;
    margin-bottom: 15px;
}

.card_content:hover{
    cursor:pointer;
    filter: drop-shadow(3px 3px 3px #083358);
}

.card_content img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-bottom: 1px solid #083358;
}

.card_content span{
    padding: 8px 0px;
    display: block;
    text-align: center; 
    font-family: Arial #083358; 
    font-weight: bold; font-size: 20px; 
    background: #202020; 
    -webkit-background-clip: text; 
    -moz-background-clip: text; 
    background-clip: text; 
    color: transparent; 
    text-shadow: 0px 3px 3px rgba(255,255,255,0.4),0px -1px 1px rgba(0,0,0,0.3);
    text-transform: uppercase;
}