.et {
    display: inline-flex;
    border-radius: 1000px;
    border: #001F3f solid 1px;
    color: #eee;
    background-color: #0D63A5;
    max-width: fit-content;
    justify-content: center;
    text-align: center;
    padding: 5px 12px;
    font-size: 0.45rem;
    font-weight: bold;
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.3));
}

.et .text {
    opacity: 0.9;
}