.profile_card{
    padding: 10px 10px;
    display: inline-flex;
    border: 2px solid #083358;
    width: 500px;
    background-color: white;
}

.profile_card:hover{
    cursor: pointer;
}

.profile_content{
    padding-left: 10px;
    display:block;
}

.profile_img{
    width: 35px;
    display: flex;
}

.profile_name{
    font-weight: bold;
    color:#083358;
    display: flex;  
    justify-content: left;
}

.profile_desc{
    display: flex;
}